/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.login-container {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; 
}

.login-card {
  width: 100%;
  max-width: 400px; 
  margin: 20px;
  position: relative; 

  .login-avatar {
    background-color: #3f51b5; 
    display: flex;
    justify-content: center;
    align-items: center;
    mat-icon {
      color: white;
    }
  }

  mat-card-header {
    margin-bottom: 20px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

.full-width {
  width: 100%;
}

mat-icon[matPrefix] {
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.54);
}

.actions {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .submit-button {
    height: 48px;
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    ::ng-deep .mat-mdc-progress-spinner circle, .mat-spinner circle {
        stroke: white !important;
    }
  }
}

.card-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}